rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{id} {
      allow read: if true;
      allow write: if true;
    }
    match /resume/{id} {
      allow read: if true;
      allow write: if true;
    }
  }
}
